.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 20px;
	row-gap: 20px;
}

.error {
	padding: 15px 20px;
	background-color: rgb(255, 97, 97);
	color: white;
	width: fit-content;
	min-width: 300px;
	border-radius: 12px;
}
