.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
	font-size: 18px;
}

.navbar {
	display: flex;
	align-items: center;
	gap: 20px;
}

.githubLink {
	display: flex;
	justify-content: end;
	min-width: 135px;
}

.logo {
	height: 40px;
}

.icon {
	height: 30px;
}

.activeLink,
.link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	text-decoration: none;
	color: inherit;
	font-weight: 600;
	width: fit-content;
}


.link:hover {
	text-decoration: underline;
}

.activeLink {
	color: rgb(255, 97, 97);
}

.author {
	position: absolute;
	right: 40px;
	font-size: 16px;
	color: rgb(147, 143, 143);
	animation: fadeIn 0.15s ease-in forwards; 
}

@keyframes fadeIn {  
	0% {
		transform: translateX(0);
		opacity:0;  
	}

	50% {
		opacity:0.2;  
	}  
 
	100% {
		transform: translateX(-20px);
		opacity:1;  
	}  
}